# Arquivo de Deployment do banco de dados MySQL
apiVersion: apps/v1
kind: Deployment
metadata:
  # Nome do Deployment
  name: mysql-deployment 
spec:
  # Número de réplicas do Pod
  replicas: 1 
  selector:
    matchLabels:
      # Rótulo para identificar o Pod
      app: mysql-db 
  template:
    metadata:
      labels:
        # Rótulo para identificar o Pod
        app: mysql-db
    spec:
      containers:
      # Nome do Container
      - name: mysql-db-container 
        # Imagem do MySQL a ser usada
        image: mysql:8.0.32 
        ports:
        # Porta do Container que será exposta
        - containerPort: 3306 
        env:
        # Variável de ambiente para a senha root do MySQL
        - name: MYSQL_ROOT_PASSWORD 
          value: "secret-password"
        volumeMounts:
        # Nome do volume montado para armazenar os dados do MySQL
        - name: mysql-data 
          mountPath: /var/lib/mysql
        # Nome do volume montado para inicializar o banco de dados
        - name: init-mysql
          mountPath: /docker-entrypoint-initdb.d
        resources:
          limits:
            # Limite máximo de memória e CPU para o Container
            memory: 1Gi 
            cpu: 1000m
          requests:
            # Memória e CPU requisitada pelo Container
            memory: 256Mi 
            cpu: 250m
      volumes:
      # Nome do volume
      - name: mysql-data 
        persistentVolumeClaim:
          # Nome da solicitação de volume persistente
          claimName: mysql-pvc 
      - name: init-mysql
        configMap:
          # Nome do ConfigMap com o script de inicialização do banco de dados
          name: init-mysql-configmap
