<div class="card">
   <!-- Corpo da card principal com duas sub-cards -->
   <div class="card-body">
      <div class="row">
         <div class="col-md-2">
            <div class="card card-stats" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); display: flex; align-items: center; justify-content: center;">
               <div class="card-body">
                  <div class="numbers">
                     <p class="card-category card-label text-center">Total de Exemplos</p>
                     <!-- Inclusão de variável do Flask no template -->
                     <h3 class="card-title text-center">{{ data|length }}</h3>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-md-2">
            <div class="card card-stats" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); display: flex; align-items: center; justify-content: center;">
               <div class="card-body">
                  <div class="numbers">
                     <p class="card-category card-label text-center">Total de Features </p>
                     <!-- Inclusão de variável do Flask no template -->
                     <h3 class="card-title text-center">13</h3>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <br>
      <!-- Sub-card de Histórico de Treinos -->
      <div class="row">
         <div class="col-md-12 ">
            <div class="card card-plain" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
               <!-- Cabeçalho da sub-card com título e descrição -->
               <div class="card-header text-center">
                  <h4 class="card-title"> Dados de Treinamento </h4>
               </div>
               <!-- Corpo da sub-card com tabela dinâmica -->
               <div class="card-body">
                  <div class="table-responsive">
                     <table class="table table-hover">
                        <thead class="">
                           <tr>
                              <th>Alcohol</th>
                              <th>Malic Acid</th>
                              <th>Ash</th>
                              <th>Alcalinity of Ash</th>
                              <th>Magnesium</th>
                              <th>Total Phenols</th>
                              <th>Flavanoids</th>
                              <th>Nonflavanoid Phenols</th>
                              <th>Proanthocyanins</th>
                              <th>Color Intensity</th>
                              <th>Hue</th>
                              <th>OD280/OD315 of Diluted Wines</th>
                              <th>Proline</th>
                        </thead>
                        <tbody>
                           <!-- Loop em variável do Flask para preencher a tabela -->
                           {% for row in data %}
                           <tr>
                              <td>{{ row.alcohol }}</td>
                              <td>{{ row.malic_acid }}</td>
                              <td>{{ row.ash }}</td>
                              <td>{{ row.alcalinity_of_ash }}</td>
                              <td>{{ row.magnesium }}</td>
                              <td>{{ row.total_phenols }}</td>
                              <td>{{ row.flavanoids }}</td>
                              <td>{{ row.nonflavanoid_phenols }}</td>
                              <td>{{ row.proanthocyanins }}</td>
                              <td>{{ row.color_intensity }}</td>
                              <td>{{ row.hue }}</td>
                              <td>{{ row['od280/od315_of_diluted_wines'] }}</td>
                              <td>{{ row.proline }}</td>
                           </tr>
                           {% endfor %}
                        </tbody>
                     </table>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>